In [1]:
from lxml import objectify
from pathlib import PosixPath
from pathlib import Path
import pandas as pd

In [2]:
from IPython.core.magics.execution import TimeitResult

In [5]:
Path(r"C:\Users\Michael\github\bw_hybrid\data\test.xml")

WindowsPath('C:/Users/Michael/github/bw_hybrid/data/test.xml')

In [33]:
xml

'<?xml version="1.0" encoding="UTF-8"?>\n<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">\n    <xsl:output method="xml" indent="yes"/>\n    <xsl:template match="/*">\n        <root>\n            <xsl:apply-templates select="intermediateExchange"/>\n        </root>\n    </xsl:template>\n    <xsl:template match="intermediateExchange">\n        <xsl:for-each select="*">\n            <xsl:element name="{local-name()}">\n                <xsl:value-of select="."/>\n            </xsl:element>\n        </xsl:for-each>\n    </xsl:template>\n</xsl:stylesheet>\n'

In [32]:
# open an xml file to string
with open(r"stylesheet.xsl") as f:
    xml = f.read()

In [23]:
stylesheet = """
<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:output method="xml" indent="yes"/>
    <xsl:template match="/*">
        <root>
            <xsl:apply-templates select="intermediateExchange"/>
        </root>
    </xsl:template>
    <xsl:template match="intermediateExchange">
        <xsl:for-each select="*">
            <xsl:element name="{local-name()}">
                <xsl:value-of select="."/>
            </xsl:element>
        </xsl:for-each>
    </xsl:template>
</xsl:stylesheet>

"""

In [43]:
pd.read_xml(path_or_buffer = r"C:\Users\Michael\github\bw_hybrid\data\test.xml", encoding='utf-8', parser='lxml')

,id,unitId,name,unitName,classification,comment,productInformation
0,42761d87-05d9-4877-b21e-001ecf0c747d,487df68b-4994-4027-8fdc-a4dc298257b7,"trawler maintenance, steel",kg,NaN,"Maintenance of a trawler, per 1000 kg of light...",NaN

In [47]:
pd.read_xml(path_or_buffer = r'C:\Users\Michael\data\ecoinvent 3.8_cutoff_ecoSpold02\MasterData\ElementaryExchanges.xml', encoding='utf-8', parser='lxml')

,id,unitId,formula,casNumber,name,unitName,compartment,synonym,property,comment,defaultVariableName,productInformation
0,38a622c6-f086-4763-a952-7c6b3b1c42ba,487df68b-4994-4027-8fdc-a4dc298257b7,C4H10O2,000110-63-4,"1,4-Butanediol",kg,NaN,Butylene glycol,NaN,None,None,NaN
1,541a823c-0aad-4dc4-9123-d4af4647d942,487df68b-4994-4027-8fdc-a4dc298257b7,C5H12O,000071-41-0,1-Pentanol,kg,NaN,amyl alcohol,NaN,None,None,NaN
2,8cbaa905-41b0-4327-8403-bf1c8eb25429,487df68b-4994-4027-8fdc-a4dc298257b7,C5H10,000109-67-1,1-Pentene,kg,NaN,pent-1-ene,NaN,None,None,NaN
3,f681eb3c-854a-4f78-bcfe-76dfbcf9df3c,487df68b-4994-4027-8fdc-a4dc298257b7,C8H6Cl2O3,000094-75-7,"2,4-D",kg,NaN,"2-(2,4-dichlorophenoxy)acetic acid",NaN,None,None,NaN
4,a0fec60d-3f74-48bf-a2d2-58c30fc13e53,487df68b-4994-4027-8fdc-a4dc298257b7,C3H9NO,002749-11-3,2-Aminopropanol,kg,NaN,2-aminopropan-1-ol,NaN,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,66bb79b7-e919-5a20-8ee6-dac7bae45e91,487df68b-4994-4027-8fdc-a4dc298257b7,C10H16Cl3NOS,2303-17-5,Triallate,kg,NaN,Tri-allate,NaN,None,None,NaN
4417,ffaaffd3-5deb-4508-9e5f-e47f551ac2b8,487df68b-4994-4027-8fdc-a4dc298257b7,C22H18Cl2FNO3,068359-37-5,Beta-cyfluthrin,kg,NaN,None,NaN,None,None,NaN
4418,c5c25aa6-d630-40bd-bed7-4e718c877ef4,487df68b-4994-4027-8fdc-a4dc298257b7,None,002303-17-5,[Deleted]Tri-allate,kg,NaN,"S-(2,3,3-trichloro-2-propenyl) bis(1-methyleth...",NaN,None,None,NaN
4419,d07867e3-66a8-4454-babd-78dc7f9a21f8,487df68b-4994-4027-8fdc-a4dc298257b7,None,128639-02-1,[Deleted]Carfentrazone ethyl ester,kg,NaN,Carfentrazone-ethyl,NaN,None,None,NaN
4420,831f48fc-ca00-4534-9ede-730190b3bee0,487df68b-4994-4027-8fdc-a4dc298257b7,None,061213-25-0,[Deleted]Fluorochloridone,kg,NaN,2-Pyrrolidon-3-chloro-4-chloromethyl-1-(3-trif...,NaN,None,None,NaN

In [4]:
def build_STR(self):
    """ Parses ElementaryExchanges.xml to builds stressor labels

    Args: None
    ----

    Behaviour influenced by:
    ------------------------

    * self.STR_order: Determines how labels are ordered

    Returns: None
    -------

    Generates: self.STR:    DataFrame with stressor Id's for index
    Credit:
    -------

    This function incorporates/adapts code from Brightway2data, that is,
    the classmethod extract_biosphere_metadata from Ecospold2DataExtractor

    """

    # File to parse
    fp = os.path.join(self.sys_dir, 'MasterData', self.__ELEXCHANGE)
    assert os.path.exists(fp), "Can't find ElementaryExchanges.xml"

    def extract_metadata(o):
        """ Subfunction to extract data from lxml root object """
        return {
            'id': o.get('id'),
            'name': o.name.text,
            'unit': o.unitName.text,
            'cas': o.get('casNumber'),
            'comp': o.compartment.compartment.text,
            'subcomp': o.compartment.subcompartment.text
        }

    # Extract data from file
    with open(fp, 'r', encoding="utf-8") as fh:
        root = objectify.parse(fh).getroot()
        self.STR = _df([extract_metadata(i) for i in root.iterchildren()])

    # organize in pandas DataFrame
    self.STR.index = self.STR['id']
    self.STR = self.STR.reindex(['id', 'name', 'unit', 'cas', 'comp', 'subcomp'], axis=1)
    self.STR = self.STR.sort_values(by=self.STR_order)

    # Log event
    sha1 = self.__hash_file(fp)
    msg = "{} extracted from {} with SHA-1 of {}"
    self.log.info(msg.format('Elementary flows', self.__ELEXCHANGE, sha1))

In [ ]:
def extract_metadata(node):
    return {
        'id': node.get('id'),
        'name': node.name.text,
    }

root = lxml.objectify.parse(file).getroot()
df = pd.DataFrame([extract_metadata(i) for i in root.iterchildren()])

In [ ]:
def extract_data_from_ecoinvent_xml(
    path_file_xml: PosixPath,
    dict_lxml
)

In [200]:
pd.read_xml(
    path_or_buffer = '/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/Parameters.xml',
    parser = 'lxml',
)

,lang,contextName,id,defaultVariableName,unitId,name,unitName,comment
0,en,ecoinvent,None,None,None,None,None,None
1,None,None,fb875f92-eb72-4c30-bf52-d80be1e83e9f,H2_MW,f271f103-ec6d-428b-bbc7-f0f2adf91d4f,"molecular weight, H2",g/mol,None
2,None,None,1fc3aad5-5775-4890-b32b-7d940b66bd3c,None,577e242a-461f-44a7-922c-d8e1c3d2bf45,"fraction, irrigation water to surface water",dimensionless,None
3,None,None,4e12f6a2-16a7-4235-acf1-916701f67c63,SOCref_a,395f1718-3067-449c-ad6a-b96e876eebd4,reference soil organic carbon: arable land,kg/ha,None
4,None,None,c8a91197-3491-4377-8987-776ae1e80c41,EF_C2H41,577e242a-461f-44a7-922c-d8e1c3d2bf45,emission factor ethene,dimensionless,None
...,...,...,...,...,...,...,...,...
1541,None,None,7090529b-8105-442e-9b9a-a7c1c90561e3,fertiliser_application,86bbe475-8a8f-44d8-914c-e398787e7121,fertiliser application,ha,Fertiliser application (ha/kg maize)
1542,None,None,799af530-abcc-4efc-9d62-53cc518bcb5b,Weight_vessel,487df68b-4994-4027-8fdc-a4dc298257b7,light ship weight,kg,Weight of the vessel without any load or fishi...
1543,None,None,bcb3cde8-5cd1-44cd-b1a2-a4dcf787aa8c,rec_rate_W,22dd5d20-97ab-471f-aa89-fdb38e46f802,recovery rate tungsten,% (obsolete),None
1544,None,None,29f83b27-1d0f-4738-9c89-32dc4ce86f29,PV_05,577e242a-461f-44a7-922c-d8e1c3d2bf45,production volume country 05,dimensionless,None
1545,None,None,346d97a3-989f-4626-90bc-91a327da19c8,None,5b972631-34e3-4db7-a615-f6931770a0cb,number of lorries,unit,None

In [137]:
df_prop

,lang,contextName,id,defaultVariableName,unitId,name,unitName,comment
0,en,ecoinvent,None,None,None,None,None,None
1,None,None,fb875f92-eb72-4c30-bf52-d80be1e83e9f,H2_MW,f271f103-ec6d-428b-bbc7-f0f2adf91d4f,"molecular weight, H2",g/mol,None
2,None,None,1fc3aad5-5775-4890-b32b-7d940b66bd3c,None,577e242a-461f-44a7-922c-d8e1c3d2bf45,"fraction, irrigation water to surface water",dimensionless,None
3,None,None,4e12f6a2-16a7-4235-acf1-916701f67c63,SOCref_a,395f1718-3067-449c-ad6a-b96e876eebd4,reference soil organic carbon: arable land,kg/ha,None
4,None,None,c8a91197-3491-4377-8987-776ae1e80c41,EF_C2H41,577e242a-461f-44a7-922c-d8e1c3d2bf45,emission factor ethene,dimensionless,None
...,...,...,...,...,...,...,...,...
1541,None,None,7090529b-8105-442e-9b9a-a7c1c90561e3,fertiliser_application,86bbe475-8a8f-44d8-914c-e398787e7121,fertiliser application,ha,Fertiliser application (ha/kg maize)
1542,None,None,799af530-abcc-4efc-9d62-53cc518bcb5b,Weight_vessel,487df68b-4994-4027-8fdc-a4dc298257b7,light ship weight,kg,Weight of the vessel without any load or fishi...
1543,None,None,bcb3cde8-5cd1-44cd-b1a2-a4dcf787aa8c,rec_rate_W,22dd5d20-97ab-471f-aa89-fdb38e46f802,recovery rate tungsten,% (obsolete),None
1544,None,None,29f83b27-1d0f-4738-9c89-32dc4ce86f29,PV_05,577e242a-461f-44a7-922c-d8e1c3d2bf45,production volume country 05,dimensionless,None
1545,None,None,346d97a3-989f-4626-90bc-91a327da19c8,None,5b972631-34e3-4db7-a615-f6931770a0cb,number of lorries,unit,None

In [8]:
fp: PosixPath = Path('/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ElementaryExchanges.xml')

In [14]:
def read_etree():
    df = pd.read_xml(
        path_or_buffer = fp,
        encoding = 'utf-8',
        parser = 'etree',
        compression = None
    )
    return df
def read_lxml():
    df = pd.read_xml(
        path_or_buffer = fp,
        encoding = 'utf-8',
        parser = 'lxml',
        compression = None
    )
    return df

In [15]:
time_etree: TimeitResult =  %timeit -o read_etree()

87.8 ms ± 165 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [16]:
time_etree: TimeitResult =  %timeit -o read_lxml()

98.7 ms ± 648 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
def create_product_df(
    path_file_exchange_propoerties: PosixPath,
    path_file_intermediate_exchanges: PosixPath,
) -> pd.DataFrame:

In [121]:
def create_activity_df(
    path_file_activity_names: PosixPath,
    path_file_activity_index: PosixPath,
    dict_column_names_activity_index: dict = {
        'id': 'activityId',
        'activityNameId': 'activityNameId',
        'specialActivityType': 'activityType',
        'startDate': 'startDate',
        'endDate': 'endDate'
    },
    dict_column_names_activity_names: dict = {
        'id': 'activityNameId',
        'name': 'name'
    },
) -> pd.DataFrame:
    """_summary_

    Args:
        path_file_activity_names (PosixPath): _description_
        path_file_activity_index (PosixPath): _description_
        dict_column_names_activity_names (_type_, optional): _description_. Defaults to { 'id': 'activityId', 'activityNameId': 'activityNameId', 'specialActivityType': 'activityType', 'startDate': 'startDate', 'endDate': 'endDate' }.

    Returns:
        pd.DataFrame: _description_
    """

    df_activity_names: pd.DataFrame = pd.read_xml(path_or_buffer = path_file_activity_names)
    df_activity_names: pd.DataFrame = df_activity_names.rename(columns = dict_column_names_activity_names)[dict_column_names_activity_names.values()].dropna().drop_duplicates()

    df_activity_index: pd.DataFrame = pd.read_xml(path_or_buffer = path_file_activity_index)
    df_activity_index: pd.DataFrame = df_activity_index.rename(columns = dict_column_names_activity_index)[dict_column_names_activity_index.values()].dropna().drop_duplicates()

    activities: pd.DataFrame = df_activity_index.merge(
        right = df_activity_names,
        how = 'left',
        on = 'activityNameId'
    )

    return activities

In [122]:
dfindex, dfnames, activities = create_activity_df(
    path_file_activity_names = Path('/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ActivityNames.xml'),
    path_file_activity_index = Path('/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ActivityIndex.xml')
)

In [123]:
activities

,activityId,activityNameId,activityType,startDate,endDate,name
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31,2-butanol production by hydration of butene
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31,2-butanol production by hydration of butene
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31,acetaldehyde oxidation
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31,acetaldehyde oxidation
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,0,1998-01-01,2006-12-31,beet sugar production
...,...,...,...,...,...,...
38368,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31,"electricity, high voltage, production mix"
38369,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31,"electricity, high voltage, production mix"
38370,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31,"electricity, high voltage, production mix"
38371,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,4,2021-01-01,2021-12-31,"electricity, high voltage, aluminium industry,..."
38372,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31,"electricity, high voltage, production mix"

In [116]:
dfindex

,activityId,activityNameId,activityType,startDate,endDate
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,0,1998-01-01,2006-12-31
...,...,...,...,...,...
38530,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38531,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38532,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38533,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,4,2021-01-01,2021-12-31
38534,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31

In [117]:
dfnames

,activityId,activityNameId
1,e429c8b9-0eb3-4b9c-b211-43f853428319,market group for waste polyethylene terephthalate
2,967db386-968e-402e-a38f-1ffe7452cb5c,"aircraft production, dedicated freight aircraf..."
3,0144ef71-bfef-44c6-b904-a005e91c07c5,"synthetic graphite production, battery grade"
4,36f8295a-88f8-47d2-91c3-cf8d818971a3,"soybean seed production, organic, for sowing"
5,cf6a1277-0c90-4780-9995-d3e026b5d948,market for spent oxychlor catalyst
...,...,...
7921,bcf747f6-476a-414a-b201-e6ca500824fe,"plastic flake, consumer electronics, for recyc..."
7922,b2035dbd-43cc-4a78-aa0a-7c96648e0e19,"tinplate scrap, sorted, Recycled Content cut-off"
7923,76369d4f-5e80-4223-8f63-ef25b2754b8d,"polystyrene scrap, post-consumer, Recycled Con..."
7924,b4eefc26-e156-4e6a-a0a8-505f26cee423,"electricity, high voltage, renewable energy pr..."
7925,a346f702-8510-4210-a33b-8920b003d230,"electricity, high voltage, aluminium industry,..."

In [104]:
activities = dfnames.merge(
        right = dfindex,
        how='left',
        on='activityId'
    )

In [92]:
dfindex

,activityId,activityNameId,activityType,startDate,endDate
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,0,1998-01-01,2006-12-31
...,...,...,...,...,...
38530,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38531,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38532,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38533,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,4,2021-01-01,2021-12-31
38534,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31

In [93]:
dfnames

,activityId,name
1,e429c8b9-0eb3-4b9c-b211-43f853428319,market group for waste polyethylene terephthalate
2,967db386-968e-402e-a38f-1ffe7452cb5c,"aircraft production, dedicated freight aircraf..."
3,0144ef71-bfef-44c6-b904-a005e91c07c5,"synthetic graphite production, battery grade"
4,36f8295a-88f8-47d2-91c3-cf8d818971a3,"soybean seed production, organic, for sowing"
5,cf6a1277-0c90-4780-9995-d3e026b5d948,market for spent oxychlor catalyst
...,...,...
7921,bcf747f6-476a-414a-b201-e6ca500824fe,"plastic flake, consumer electronics, for recyc..."
7922,b2035dbd-43cc-4a78-aa0a-7c96648e0e19,"tinplate scrap, sorted, Recycled Content cut-off"
7923,76369d4f-5e80-4223-8f63-ef25b2754b8d,"polystyrene scrap, post-consumer, Recycled Con..."
7924,b4eefc26-e156-4e6a-a0a8-505f26cee423,"electricity, high voltage, renewable energy pr..."
7925,a346f702-8510-4210-a33b-8920b003d230,"electricity, high voltage, aluminium industry,..."

In [50]:
testdf = pd.read_xml(path_or_buffer = '/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ActivityIndex.xml')

In [45]:
dict_column_names_activity_names: dict = {
        'id': 'activityId',
        'activityNameId': 'activityNameId',
        'specialActivityType': 'activityType',
        'startDate': 'startDate',
        'endDate': 'endDate'
    }

In [61]:
testdf

,id,activityNameId,geographyId,startDate,endDate,specialActivityType,systemModelId
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,34dbbff8-88ce-11de-ad60-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0723d252-7e2a-11de-9820-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,34dbbff8-88ce-11de-ad60-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0723d252-7e2a-11de-9820-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,131278d6-7d7e-11de-9ae2-0019e336be3a,1998-01-01,2006-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
...,...,...,...,...,...,...,...
38530,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,c079ba9b-dc27-45f0-96b5-a3dd168de8ed,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38531,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,f41e84aa-2c80-451e-a7ab-594acc1b096d,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38532,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,a959ec4b-3db6-4b9f-9ea6-897fbcfdc610,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38533,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,34dbbff8-88ce-11de-ad60-0019e336be3a,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38534,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,fe0113e8-7e2d-11de-9820-0019e336be3a,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce

In [63]:
testdf[[*dict_column_names_activity_names.values()]]

,activityId,activityNameId,activityType,startDate,endDate
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0,1981-01-01,2005-12-31
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0,1981-01-01,2005-12-31
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,0,1998-01-01,2006-12-31
...,...,...,...,...,...
38530,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38531,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38532,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31
38533,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,4,2021-01-01,2021-12-31
38534,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,4,2021-01-01,2021-12-31

In [53]:
[*testdf.columns]

['id',
 'activityNameId',
 'geographyId',
 'startDate',
 'endDate',
 'specialActivityType',
 'systemModelId']

In [62]:
testdf = testdf.rename(columns = dict_column_names_activity_names)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [27]:
pd.read_xml(
    path_or_buffer = '/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ActivityIndex.xml',
    encoding = 'utf-8',
    parser = 'etree',
    compression = None,
)

,id,activityNameId,geographyId,startDate,endDate,specialActivityType,systemModelId
0,f7e93a25-56e4-4268-a603-3bfd57c79eff,c2d58788-238b-464b-89c5-6b075d323033,34dbbff8-88ce-11de-ad60-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
1,bd6cb90b-84dc-47ef-bda6-275ca88d94cd,c2d58788-238b-464b-89c5-6b075d323033,0723d252-7e2a-11de-9820-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
2,2fd2b47f-d760-4559-aa11-37b71991deb3,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,34dbbff8-88ce-11de-ad60-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
3,7156adef-a44d-463a-933f-ae67df1cedd8,e40735fd-bd80-4a0d-9e84-3e1d1724c27c,0723d252-7e2a-11de-9820-0019e336be3a,1981-01-01,2005-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
4,19a6cf49-7787-4a6f-b04e-4604fcd65bec,a049209a-ac75-4213-bbab-0f65dbd878e8,131278d6-7d7e-11de-9ae2-0019e336be3a,1998-01-01,2006-12-31,0,8b738ea0-f89e-4627-8679-433616064e82
...,...,...,...,...,...,...,...
38530,fbf8d7fa-8b28-4797-bf30-07e96610b66e,19b983f0-8d57-487e-ab00-13321272916d,c079ba9b-dc27-45f0-96b5-a3dd168de8ed,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38531,02c502b4-ec14-4026-9d8f-c7c1cdd37d7f,19b983f0-8d57-487e-ab00-13321272916d,f41e84aa-2c80-451e-a7ab-594acc1b096d,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38532,3bd9445c-2496-48a1-87c8-84cd980fac3e,19b983f0-8d57-487e-ab00-13321272916d,a959ec4b-3db6-4b9f-9ea6-897fbcfdc610,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38533,bd6cb31f-12c1-4619-99df-4e1cbc04da92,a346f702-8510-4210-a33b-8920b003d230,34dbbff8-88ce-11de-ad60-0019e336be3a,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce
38534,b3547e53-33db-4248-bbb2-c45e0f8ff531,19b983f0-8d57-487e-ab00-13321272916d,fe0113e8-7e2d-11de-9820-0019e336be3a,2021-01-01,2021-12-31,4,290c1f85-4cc4-4fa1-b0c8-2cb7f4276dce

In [28]:
pd.read_xml(
    path_or_buffer = '/Users/michaelweinold/data/data_raw/ecoinvent_3.8_cutoff_ecoSpold02/MasterData/ActivityNames.xml',
    encoding = 'utf-8',
    parser = 'etree',
    compression = None,
)

,lang,contextName,id,name
0,en,ecoinvent,None,None
1,None,None,e429c8b9-0eb3-4b9c-b211-43f853428319,market group for waste polyethylene terephthalate
2,None,None,967db386-968e-402e-a38f-1ffe7452cb5c,"aircraft production, dedicated freight aircraf..."
3,None,None,0144ef71-bfef-44c6-b904-a005e91c07c5,"synthetic graphite production, battery grade"
4,None,None,36f8295a-88f8-47d2-91c3-cf8d818971a3,"soybean seed production, organic, for sowing"
...,...,...,...,...
7921,None,None,bcf747f6-476a-414a-b201-e6ca500824fe,"plastic flake, consumer electronics, for recyc..."
7922,None,None,b2035dbd-43cc-4a78-aa0a-7c96648e0e19,"tinplate scrap, sorted, Recycled Content cut-off"
7923,None,None,76369d4f-5e80-4223-8f63-ef25b2754b8d,"polystyrene scrap, post-consumer, Recycled Con..."
7924,None,None,b4eefc26-e156-4e6a-a0a8-505f26cee423,"electricity, high voltage, renewable energy pr..."
7925,None,None,a346f702-8510-4210-a33b-8920b003d230,"electricity, high voltage, aluminium industry,..."

In [24]:
stylesheet: str =  """
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.EcoInvent.org/EcoSpold02"
    xsi:schemaLocation="http://www.EcoInvent.org/EcoSpold02 https://raw.githubusercontent.com/Ecoinvent/system-model/3.0/schema/EcoSpold02.xsd"
    version="1.0">
  <xsl:output method="xml" indent="yes"/>

  <xsl:template match="validElementaryExchanges">
    <flattenedExchanges>
      <xsl:for-each select="elementaryExchange">
        <exchange>
          <id><xsl:value-of select="@id"/></id>
          <unitId><xsl:value-of select="@unitId"/></unitId>
          <formula><xsl:value-of select="@formula"/></formula>
          <casNumber><xsl:value-of select="@casNumber"/></casNumber>
          <name><xsl:value-of select="name/text()"/></name>
          <unitName><xsl:value-of select="unitName/text()"/></unitName>
          <compartment>
            <xsl:value-of select="compartment/compartment/text()"/></compartment>
          <subcompartment>
            <xsl:value-of select="compartment/subcompartment/text()"/></subcompartment>
        </exchange>
      </xsl:for-each>
    </flattenedExchanges>
  </xsl:template>

</xsl:stylesheet>
"""